@model HelpingHands.Models.Login

<!DOCTYPE html>
<html>
	<head>
		<meta  charset="utf-8"/>
		<title>User Login</title>
		<link rel="stylesheet" href="~/css/AccountStyle.css" />
	</head>
	<body>
		<div class="center">
			<h1>User Login</h1>
			
			<form method="post" action="/User/Login">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<span class="text-danger text-center">@ViewData["logError"]</span>
				<div class="txt_field">
					<input type="text" autocapitalize="off" class="form-control" asp-for="UserName" autocomplete="off" />
					<span asp-validation-for="UserName" class="text-danger"></span>
					<label class="required">Username</label>
				</div>
				<div class="txt_field">
					<input type="password" autocapitalize="off" class="form-control" asp-for="Password" autocomplete="off" />
					<span asp-validation-for="Password" class="text-danger"></span>
					<label class="required"> Password</label>
				</div>
				<div class="pass">Forgot Password?</div>
				<input type="submit" value="Login"/>
				<div class="signup_link">
					Create Account
					<a>Sign Up</a>
				</div>
			</form>
		</div>


	</body>
</html>
