@model Patient
@{
    ViewData["Title"] = "UpdatePatientProfile";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<style>
    .required::after {
        content: " *";
        color: red;
        font-size: 20px;
    }

    .card {
        border: none
    }

    

    .user-details h4 {
        color: blue
    }

    .ratings {
        font-size: 30px;
        font-weight: 600;
        display: flex;
        justify-content: left;
        align-items: center;
        color: #f9b43a
    }

    .user-details span {
        text-align: left
    }

    .inputs label {
        display: flex;
        margin-left: 3px;
        font-weight: 500;
        font-size: 13px;
        margin-bottom: 4px
    }

    .inputs input {
        font-size: 14px;
        height: 40px;
        border: 2px solid #ced4da
    }

        .inputs input:focus {
            box-shadow: none;
            border: 2px solid blue
        }

    .about-inputs label {
        display: flex;
        margin-left: 3px;
        font-weight: 500;
        font-size: 13px;
        margin-bottom: 4px
    }

    .about-inputs textarea {
        font-size: 14px;
        height: 100px;
        border: 2px solid #ced4da;
        resize: none
    }

        .about-inputs textarea:focus {
            box-shadow: none
        }

    .btn {
        font-weight: 600
    }

        .btn:focus {
            box-shadow: none
        }
</style>
<div class="container mt-3">
    <div class="card p-3 text-center">
        
        <h4>Edit Profile</h4>
        <form method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="inputs">
                        <input asp-for="PatientId"  type="hidden" />
                        <label asp-for="Surname" class="required"></label>
                        <input asp-for="Surname" class="form-control" type="text" placeholder="Surname">
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs">
                        <label asp-for="Name" class="required"></label>
                        <input asp-for="Name" class="form-control" type="text" placeholder="First Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs">
                        <label asp-for="Gender" class="required"></label>
                        <select asp-for="Gender" class="form-control">
                            <option disabled selected>--Select Gender--</option>
                            <option value="F">Female</option>
                            <option value="F">Male</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs">
                        <label for="IDNumber" class="required">ID Number</label>
                        <input asp-for="IDNumber" class="form-control" id="IDNumber" name="IDNumber" type="text" placeholder="ID Number">
                        <span asp-validation-for="IDNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs">
                        <label for="DoB" class="required">Date Of Birth</label>
                        <input asp-for="DoB" class="form-control" type="date" id="DoB" name="DoB">
                        <span asp-validation-for="DoB" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs">
                        <label asp-for="ContactPerson" class="required"></label>
                        <input asp-for="ContactPerson" class="form-control" type="text" placeholder="Emergency Contact">
                        <span asp-validation-for="ContactPerson" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs">
                        <label asp-for="ContactPersonNumber" class="required"></label>
                        <input asp-for="ContactPersonNumber" class="form-control" type="text" placeholder="Emergency number">
                        <span asp-validation-for="ContactPersonNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs">
                        <label asp-for="Picture" class="required"></label>
                        <input asp-for="Picture" class="form-control" type="file" name="imageFile">
                        <span asp-validation-for="Picture" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="about-inputs">
                        <label asp-for="AdditionalInform"></label>
                        <textarea asp-for="AdditionalInform" class="form-control" type="text" placeholder="Tell us about yourself"> </textarea>
                    </div>
                </div>
            </div>
            <div class="mt-3 gap-2 d-flex justify-content-end">
                <button class="px-3 btn btn-sm btn-outline-primary" asp-controller="Dashboard" asp-action="Patient">Cancel</button>
                <button class="px-3 btn btn-sm btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
<script>
    const idNumberInput = document.getElementById('IDNumber');
    const dateOfBirthInput = document.getElementById('DoB');

    idNumberInput.addEventListener('input', () => {

        const idNumber = idNumberInput.value;

        const year = idNumber.substr(0, 2);
        const month = idNumber.substr(2, 2);
        const day = idNumber.substr(4, 2);

        const birthYear = (parseInt(year) >= 10 && parseInt(year) <= 99) ? `19${year}` : `20${year}`;

        dateOfBirthInput.value = `${birthYear}-${month}-${day}`;

    });

</script>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_validationScriptsPartial");
    }
}