
@{
    ViewData["Title"] = "Administrator";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="~/css/dashboardstyle.css">

	<title>Office Manager</title>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
</head>
<body>
	
		<section id="content">

			<main>
				

				<ul class="box-info">
					<li title="Add employee users">
						<a asp-controller="User" asp-action="AddEmployee">
							<i class='bx bxs-user-detail'></i>
							<span class="text">
								<h3>Manage Employees</h3>

							</span>
						</a>

					</li>
					<li title="Add new cities">
						
						<a asp-controller="City" asp-action="Create">
							<i class='bx bxs-map-pin'></i>
							<span class="text">
								<h3>Manage Location</h3>

							</span>
						</a>
						
					</li>
					<li title="Add new conditions">
						
						<a asp-controller="City" asp-action="Create">
							<i class='bx bxs-heart'></i>
							<span class="text">
								<h3>Chronic Conditions</h3>

							</span>
						</a>
						
					</li>

				</ul>

			</main>
			
		</section>

	
	<script src="~/js/Dashboardscript.js"></script>
</body>
</html>