@inject IHttpContextAccessor contextAccessor;

@{
    ViewData["Title"] = "OfficeManager";
    Layout = "~/Views/Shared/_LayoutOfficeManager.cshtml";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="~/css/dashboardstyle.css">

	<title>Office Manager</title>
	<meta name="viewport" content="width=device-width" />
	
</head>
<body>
	<div class="container">
		<section id="content">

			<main>
				
				<ul class="box-info">
					<li title="View new care contracts">
						<a asp-action="GetNewContracts" asp-controller="OfficeManager">
							<i class='bx bxs-receipt'></i>
							<span class="text">
								<h3>New Contracts</h3>
							
							</span>
						</a>
						
					</li>
					<li title="View care visits">
						<a asp-action="GetAllCareVisits" asp-controller="CareVisit">
							<i class='bx bxs-group'></i>
							<span class="text">
								<h3>View Visits</h3>

							</span>
						</a>
						
					</li>
					<li>
						<a asp-controller="OfficeManager" asp-action="GetAllNurses">
							<i class='bx bx-clipboard'></i>
							<span class="text">
								<h3>Nurse Suburbs</h3>

							</span>
						</a>
						
					</li>
					
				</ul>


				
			</main>

		</section>

	</div>
	<script src="~/js/Dashboardscript.js"></script>
</body>
</html>