
@{
    ViewData["Title"] = "Patient";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="~/css/dashboardstyle.css">

	<title>Office Manager</title>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
</head>
<body>
	<div class="container">
		<section id="content">

			<main>
				<div class="head-title">
					<div class="left">
						<h1>Dashboard</h1>
						<ul class="breadcrumb">
							<li>
								<a href="#">CarAnd</a>
							</li>

						</ul>
					</div>

				</div>

				<ul class="box-info">
					<li>
						<i class='bx bxs-receipt'></i>
						<span class="text">
							<h3>Create Contract</h3>

						</span>
					</li>
					<li>
						<i class='bx bxs-group'></i>
						
						<span class="text">
							<h3>View Care Visits</h3>

						</span>
					</li>
					<li>
						<i class='bx bxs-building-house' ></i>
						<span class="text">
							<h3>Preferred Suburb</h3>

						</span>
					</li>

				</ul>
				
			</main>

		</section>

	</div>
	<script src="~/js/Dashboardscript.js"></script>
</body>
</html>
