@model HelpingHands.Models.ChronicCondition
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .required::after {
        content: " *";
        color: red;
        font-size: 20px;
    }
    .card {
        border: none
    }


    .user-details h4 {
        color: blue
    }

    .ratings {
        font-size: 30px;
        font-weight: 600;
        display: flex;
        justify-content: left;
        align-items: center;
        color: #f9b43a
    }

    .user-details span {
        text-align: left
    }

    .inputs label {
        display: flex;
        margin-left: 3px;
        font-weight: 500;
        font-size: 13px;
        margin-bottom: 4px
    }

    .inputs input {
        font-size: 14px;
        height: 40px;
        border: 2px solid #ced4da
    }

        .inputs input:focus {
            box-shadow: none;
            border: 2px solid blue
        }

    .about-inputs label {
        display: flex;
        margin-left: 3px;
        font-weight: 500;
        font-size: 13px;
        margin-bottom: 4px
    }

    .about-inputs textarea {
        font-size: 14px;
        height: 100px;
        border: 2px solid #ced4da;
        resize: none
    }

        .about-inputs textarea:focus {
            box-shadow: none
        }

    .btn {
        font-weight: 600
    }

        .btn:focus {
            box-shadow: none
        }
</style>
<div class="container mt-3">
    <div class="card p-3 text-center">

        <h4>Edit Condition</h4>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Model Error: </strong> @TempData["ErrorMessage"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        <form method="post">
            <div class="row">
                <input type="hidden" asp-for="ConditionId" />
                <div class="col-md-12">
                    <div class="inputs">
                        <label asp-for="ConditionName" class="required"></label>
                        <input asp-for="ConditionName" class="form-control" type="text" placeholder="Condition Name">
                        <span asp-validation-for="ConditionName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-inputs">
                            <label asp-for="ConditionDescr" class="required"></label>
                            <textarea asp-for="ConditionDescr" class="form-control" type="text" placeholder="Give more information about the condition"> </textarea>
                        </div>
                    </div>
                </div>

            </div>

            <div class="mt-3 gap-2 d-flex justify-content-end">
                <button class="px-3 btn btn-sm btn-outline-primary">Cancel</button>
                <button class="px-3 btn btn-sm btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>
