@model HelpingHands.Models.Suburb
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<style>
    .required::after {
        content: " *";
        color: red;
        font-size: 20px;
    }
    .card {
        border: none
    }


    .user-details h4 {
        color: blue
    }

    .ratings {
        font-size: 30px;
        font-weight: 600;
        display: flex;
        justify-content: left;
        align-items: center;
        color: #f9b43a
    }

    .user-details span {
        text-align: left
    }

    .inputs label {
        display: flex;
        margin-left: 3px;
        font-weight: 500;
        font-size: 13px;
        margin-bottom: 4px
    }

    .inputs input {
        font-size: 14px;
        height: 40px;
        border: 2px solid #ced4da
    }

        .inputs input:focus {
            box-shadow: none;
            border: 2px solid blue
        }

    .about-inputs label {
        display: flex;
        margin-left: 3px;
        font-weight: 500;
        font-size: 13px;
        margin-bottom: 4px
    }

    .about-inputs textarea {
        font-size: 14px;
        height: 100px;
        border: 2px solid #ced4da;
        resize: none
    }

        .about-inputs textarea:focus {
            box-shadow: none
        }

    .btn {
        font-weight: 600
    }

        .btn:focus {
            box-shadow: none
        }
</style>
<div class="container mt-3">
    <div class="card p-3 text-center">

        <h4>Manage Suburbs</h4>
        <form method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="inputs">
                        <label asp-for="SuburbName" class="required"></label>
                        <input asp-for="SuburbName" class="form-control" type="text" placeholder="Surname">
                        <span asp-validation-for="SuburbName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs">
                        <label asp-for="PostalCode" class="required"></label>
                        <input asp-for="PostalCode" class="form-control" type="text" placeholder="First Name">
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="inputs">
                        <label asp-for="CityId" class="required"></label>
                        <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityList">
                            <option disabled selected>--Select City--</option>
                            
                        </select>
                        <span asp-validation-for="CityId" class="text-danger"></span>

                    </div>
                </div>

            </div>
            
            <div class="mt-3 gap-2 d-flex justify-content-end">
                <button class="px-3 btn btn-sm btn-outline-primary">Cancel</button>
                <button class="px-3 btn btn-sm btn-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>


